@page
@model CartModel
@using StoreCore
@{
    var calcoulator = new ShippingCalcoulator();
    var shippingCost = calcoulator.calculateShippingCost(10);
    ViewData["Title"] = "Aus-E-Mart Shopping Cart";
}
<h1>@ViewData["Title"] </h1>

<p>Here's your shopping cart: @shippingCost</p>